[Unit]
Description= Pi Media Server Service 
After=network.target  sound.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Pi_FastAPI_Server
Environment="PATH=/home/ubuntu/Pi_FastAPI_Server/.venv/bin"
ExecStart=/home/ubuntu/Pi_FastAPI_Server/.venv/bin/uvicorn fast:app --host 0.0.0.0 --port 8000 
#ExecStart=/home/ubuntu/Pi_FastAPI_Server/.venv/bin/gunicorn -c gunicorn_cfg.py fast:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
